#countryDetails{
    border: solid rgb(100, 96, 100);
    padding: 10px;
}
body{
    font-family: arial;
}

.county-label{
    cursor: pointer;
}

.continent-label{
    display: inline-block;
    cursor: pointer;
}

img{
    height:100px;
}

#countryDetail{
    border: solid rgb(22, 201, 201);
    
}