<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/world.css">
        <script src="/static/world.js" defer></script>
    </head>
    <body>
        <h2 id="current">{{country.name}}</h2>
        <div><img src ={{country.flag}}></div>

        <table>
            <tr>
                <td>ID</td><td id="currentID">{{country.id}}</td>
                <td>Continent</td><td>{{country.continent}}</td>
                <td>Capital</td><td>{{country.capital}}</country></td>
            </tr>
        </table>
        
        <div class="row">
            <a href="/country/{{country.id}}">{{country.name}}</a>
        <button onclick="doDelete()" class="del" data-name="{{country.name}}">Delete</button>
        </div>

         <div>
            <a href="/country/{{country.id-1}}">Previous</a>
            <a href="/country/{{country.id+1}}">Next</a>
         </div>
    </body>
</html>